zhwiki-latest-categorylinks.sql
zhwiki-latest-categorylinks.sql.fixed
zhwiki-latest-categorylinks.sql.gz
zhwiki-latest-page.sql
zhwiki-latest-page.sql.fixed
zhwiki-latest-page.sql.gz
zhwiki.sqlite3
extracted.txt
hong_kong_people_names.txt
temp_names.txt
